<div style="text-align: center;">
  <div style="background-color: red;">
    <%= image_tag "falco_about.jpg" %>
  </div>
  <ul style="list-style-type:none;">
    <li>Chillin' at the pad is my most favorite!</li>
    <li>Long walks around the neighborhood are preferrable to beach cruises.</li>
    <li>My favorite pee spot is the bush next to the yard.</li>
    <li>Will sit for treats (I secretly know that it's just dog food MOM)!</li>
    <li>I love chasing the ladies aka 'Da Bitches!'</li>
  </ul>
  <%= link_to 'Home', root_path %>
</div>